header{
	border: 0;
	padding: 0;
	
}

body{
	background: #4e078b;
}

footer {
	text-align: right;	
}

#ptitle  {
	position: relative;
	font-family: Krona One, sans-serif;
	font-size: 7.5vw;
	color: white;
	text-align: center;

}

#div1 {
	text-align: center;
}

#div2{
	position: relative;
	margin-top: 10%;
}

.button {
	
	width: 25%;
	font-size: 2vw;
	border-radius: 20px;
	color: white;
	box-shadow: 0 4px #666;
	border: 0px;
	
	font-family: 'Itim', cursive;
	opacity: 0.8;
	padding: .5rem 2rem;
}


.button:hover {
	opacity: 1;
	transition: 0.3s;
	cursor: pointer;
}
.button:active {	
	transform: translateY(3px);
	box-shadow: 0 5px #666;
}

.button-1 {
	background-color: #4CAF50;
}

.button-2 {
	background-color: #f44336;
	font-size: 5vw;
	width: 35%;
	border-radius:25px;
	font-family: 'Itim', cursive;
	padding: 1rem 6rem;
}


img {
	position: relative;
	width: 13%;
	float: right;
	right: 16vw;
	transition: 1s;
	transform: translateY(-22vw);

}

a {
	color: white;
	text-decoration: none;
}

